@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-primary: #1a1d21;
}

body {
  color: #fff;
  background-color: var(--bg-color-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-50 {
    width: 50%;
  }

  .flex-50 {
    flex: 0.5;
  }
}

th {
  text-align: start;
}
